body > section {
    margin-left: 214px;
    position: relative;
}

body > section > header {
    font-size: 0;
    letter-spacing:-1px;
    border: #e0e0e0 solid;
    border-width: 0 0 1px 0;
}

body > section > header > a {
    display: inline-block;
    position: relative;
    top: 1px;
    background-color: #fff;
    text-transform: uppercase;
    color: #b1b1b1;
    border: #e0e0e0 solid;
    border-width: 0 1px 1px 0;
    padding: 18px 15px;
    font-size: 14px;
}

body > section > header > a:after {
    content: '\d7';
    display: inline-block;
    padding: 0 13px 0 30px;
}

body > section > header > a.selected {
    border-bottom: 1px solid #fff;
}

body > section > .scroller:target + .item {
    display: block;
    position: absolute;
}

body > section > .scroller:target + .item.selected {
    position: relative;
}

/* Всегда отображаем первый таб */
body > section > .item.selected {
    display: block;
}

body > section > .item {
    display: none;
    padding: 20px;
    max-height: 100px;
}